@charset "UTF-8";
#grilla {
  display: grid;
  grid-template-areas: "header" "nav" "section" "aside" "footer";
  grid-template-rows: 0.5fr 0.5fr 1fr 1fr 1fr;
  grid-template-columns: 400px;
  height: 100vh;
  padding: 5px; }

header {
  grid-area: header; }

footer {
  grid-area: footer; }

section {
  grid-area: section; }

aside {
  grid-area: aside; }

nav {
  grid-area: nav; }

@media (min-width: 401px) and (max-width: 960px) {
  #grilla {
    display: grid;
    grid-template-areas: "header header" "nav nav" "section aside" "section aside" "footer footer";
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: auto 384px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    height: 100vh;
    margin: 0; }
  .menu ul {
    flex-wrap: nowrap; }
  aside {
    background-color: #D6A5FE; }
  section {
    margin: 5px;
    background-color: #fcddc2; }
  .parrafo {
    color: black;
    text-align: justify; } }

@media (min-width: 961px) {
  #grilla {
    display: grid;
    grid-template-areas: "header header header" "nav nav nav" "section section aside" "section section aside" "footer footer footer";
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 10% 50% 40%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    height: 100vh;
    margin: 25px; }
  .menu ul li {
    width: 100%; }
  aside {
    background-image: linear-gradient(to bottom, #fff7fa, #D6A5FE); }
  section {
    background-color: #fff7fa; }
  .parrafo {
    color: black;
    text-align: justify; }
  nav {
    background-color: #fcddc2; }
  .content-logo {
    width: 200px;
    border-radius: 50%;
    border: 2px solid #BF5A92;
    overflow: hidden;
    margin: auto;
    margin-top: 10px; }
    .content-logo img {
      width: 100%; } }

* {
  padding: 0;
  margin: 0; }

body {
  background-color: #fff7fa; }

h3 {
  font-family: 'courgette', cursive;
  text-align: center;
  font-size: 3rem;
  color: #f2b988; }

h4 {
  font-size: 3rem;
  text-decoration: underline;
  text-align: center;
  font-family: 'Courgette', cursive; }

.resaltar {
  font-weight: bold; }

h1 {
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-family: 'Pacifico', sans-serif;
  text-align: center;
  color: #BF5A92;
  font-size: 60px;
  text-shadow: 10px 10px 20px grey; }

.content-logo {
  width: 200px;
  border-radius: 50%;
  border: 2px solid #BF5A92;
  overflow: hidden;
  margin: auto;
  margin-top: 10px; }
  .content-logo img {
    width: 100%; }

.content-logo1 {
  /*clase para modificar los tamaños de las imagenes */
  width: 300px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px; }
  .content-logo1 img {
    width: 100%; }

article {
  background-color: #f1d4e4;
  padding: 1rem;
  margin: 0.5rem 1rem;
  text-align: center; }

.parrafo {
  font-size: 2rem;
  color: #e231a7;
  text-align: justify;
  padding: 10px; }

.border {
  border: 1px solid #D6A5FE; }

aside {
  background-image: linear-gradient(to bottom, #fff7fa, #D6A5FE); }

.redes {
  text-align: center;
  font-size: 6rem; }

aside > div > a {
  color: black; }

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start; }
  .flex article {
    width: auto;
    height: 280px; }

/*insertamos animacion de gotas cayendo*/
@keyframes gotas {
  0% {
    transform: translateY(0);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: translateY(30rem);
    opacity: 0; } }

.drop img:nth-child(1) {
  animation-delay: 7150ms; }

.drop img:nth-child(2) {
  animation-delay: 1800ms; }

.drop img:nth-child(3) {
  animation-delay: 600ms; }

.drop img:nth-child(4) {
  animation-delay: 100ms; }

.drop img:nth-child(5) {
  animation-delay: 2700ms; }

.drop img:nth-child(6) {
  animation-delay: 1700ms; }

.drop img:nth-child(7) {
  animation-delay: 600ms; }

.drop img:nth-child(8) {
  animation-delay: 4000ms; }

.drop img {
  width: 25px;
  animation: gotas 2s linear infinite; }

.drop {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  top: -100px; }

footer {
  background-color: #D6A5FE;
  border: 2px solid black;
  width: 98%;
  text-align: center;
  margin: auto;
  padding: 10px; }

footer > div > a {
  font-size: 2rem;
  color: black;
  padding: 10px; }
