$fondo: rgb(255,247,250);
$color-h3: #f2b988;
$color-h1: #BF5A92;
$color-footer:#D6A5FE;
$color-parrafo:#e231a7;
$color-backnav: #fcddc2;
@import "grilla";
@import "responsive";
@import "general";
@import "animacion";
@import "footer";
